.test {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6vh;
    font-weight: 600;
    color: white;
    margin-bottom: 0px;
    margin-top: 1.5%;
}

.font-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: black;
}

.font-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 7vh;
    color: white;
    padding-top: 4vh;
}

.logo {
    margin-top: 1%;
    padding-right: 0px;
}

.no-gutters {
    padding-right: 0px;
}

.header1 {
    /* background-image: url(Background.JPG); */
    z-index: 1;
    background-color: #f4f9f9;
}

.header2 {
    z-index: 1;
    background-color: #f4f9f9;
}

.header3 {
    z-index: 1;
    background-color:#3c5a9b
}



main {
    margin-left: 10%;
    margin-right: 10%;
}

#topBtn {
    display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: red;
}

.nav-center{
    float: none;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

#charlie{
    margin-bottom: 0px;
}

.color1 {
    background-color: #f4f9f9;
    
}

.color6 {
    background-color:#3c5a9b;
}

.about {
    background-color: #f4f9f9;
    padding: 5vh;
    z-index: 2;
    width: 100%;
    padding-top: 7vw;
    padding-bottom: 8vw;
}

.image1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* left:50px; */
    position: relative;
    z-index: 5;
}

.box1{
    display: flex;
    width: 25vw;
    height: 20vw;
    top: -10px;
    left: 50px;
    background-color:#3c5a9b;
    z-index: 3;
    flex: content;
    position: absolute;
}

.box2{
    display: flex;
    width: 25vw;
    height: 24vw;
    top: 80px;
    left: 120px;
    background-color: rgb(83, 83, 83);
    z-index: 4;
    flex: content;
    position: absolute;
}

/* .box3{
    width: 350px;
    height: 350px;
    top: 500px;
    left: 1000px;
    background-color: lavender;
    z-index: 5;
} */

.hotel {
    padding-bottom: 3vw;
    padding-top: 3vw;
}

.golf {
    padding-bottom: 6vw;
    padding-top:3vw;
}

.india {
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.kilo {
    padding-bottom: 5vw;
    padding-top: 5vw;
}

.lima {
    color: white;
}

.mike {
    padding-top: 0.5vw;
}

.november {
    padding-top: 2vw;
}

.oscar {
    padding-top: 1vw;
}

.services{
    display: flex;
    justify-content: center;
}

.services1{
    width: 250px;
    height: 300px;
    justify-content: center;
    margin: 5px;
    border-radius: 25px;
    background:  rgb(83, 83, 83);
    padding: 20px; 
}

.services2{
    margin-bottom: 0px;
    position: relative;
    top: 55px;
    color: white;
}

#search{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#folder{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#notes{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#hospital{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#calendar{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#book{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

#gavel{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px; 
    color: white;
}

#university{
    display:flex;
    justify-content: center; 
    position: relative;
    top: 50px;
    color: white;
}

.color3 {
    background-color:black;
}

.color4 {
    background-color: #882FF6;
}

.image2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* left:50px; */
    position: relative;
    z-index: 5;
}

.meet1 {
    margin-bottom: 0px;
}

.meet2 {
    margin-top: 0px;
}

.zulu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.xray {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-left: 16vw;
    margin-top: 80px;
}

.romeo {
    padding: 5px;
    margin: auto;
}

.juliet {
    padding: 10px;
}

.color5 {
    background-color: #37B6F6;
}

.card {
    background-color: black;
}

.alpha {
    padding-left: 20px;
}

.bravo {
    padding-left: 20px;
    font-size: xx-large;
}

.link {
    display: block;
    color: white;
    text-align: center;
    border-right: 20px;
}

.link:hover {
    background-color: green;
}

.image {
    width: 10px;
}

.uniform {
    padding-top: 50vh;
    padding-bottom: 50vh;
}

.delta {
    
}